<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
        <title>Error</title>
    </head>
<div class="container justify-content-center w-25 p-3">
    <div id="error-msg-login" class="alert alert-danger">
        <h1>Error</h1>
        Page doesn't exist. Click <a href="/home">here</a> to go home
    </div>
</div>
</html>